/* 1 - Login */
/* 2 - Card */
/* 3 -Form */
/* 4 - Form add */
/* 5 - Form edit */
/* 6 - Delete */
/* 7 - Mobile */

* {
   font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f0f7f6;
}

#offcanvasRightLabel {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
  
.grid-item {
    width: 100%;
}

/* 1 - Login */
.custom-container {
    margin-top: 5%;
    max-width: 390px;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.input-group {
    margin-bottom: 18px;
}

.input-group-text {
    background-color: #ffffff;
    border: none;
}

.btn-submit {
    width: 100%;
}

/* 2 - Card */
.container-card {
    flex-wrap: wrap;
}

.card {
    background-color: #f9fbfc;
    border: none;
    border-radius: 18px;
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
}

.card-form {
    background-color: #f9fbfc;
    border: none;
    border-radius: 18px;
    width: 100%;
    margin: 10px;
    padding: 20px;
}

.btn-edit, .btn-delete {
    margin-right: 10px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    width: 36px;
    height: 36px;
}

/* 3 - Form */
.form-control {
    border: none;
}

input {
    margin-left: 0px;
    border-radius: 8px;
    border: 5px solid white;
}

.submit-invalid {
    background-color: #7d7c83;
    border: none;
    border-radius: 40px;
    color: white;
    margin-left: 18px;
}

.btn-submit-invalid {
    background-color: #0c5cd3;
}

/* 4 - Form add */
.newUserForm input {
    margin-right: 20px;
}

.grid-container-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.submit-add {
    background-color: #70e000;
    border: none;
    border-radius: 40px;
    color: white;
    margin-left: 18px;
}

/* 5 - Form edit */
.form-edit input {
    border: 1px solid #b7b7b7;
}


/* 6 - Delete */
.btn-danger {
    margin-left: 10px;
}

/* 7 - Mobile */
@media (max-width: 767.98px) { 

    .card {
        width: calc(100% - 20px);
    }

    .btn-add-user {
        font-size: 14px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
  
    .grid-container-5 {
        grid-template-columns: 1fr;
    }
  
    .submit-invalid {
        margin-top: 20px;
        width: 27px;
    }

    .submit-add {
        margin-top: 20px;
        width: 27px;
    }
}
